body{
    margin: auto;
    background:url(slider2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: aqua;
}
* {
    color:#00ffa1;
    
}

label{
    font-weight: bold;
}
.form-control{
    background: transparent;
}
.btn{
    color: #00ffa1;
}
