body{
    margin: auto;
    background:url(slider2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

* {
    color:#00ffa1;
    
}



.messManagerdetials{
    position: absolute;
    right: 20px;
    top: 136px;
    

}
.messManagerdetials h5, h5.time{
    font-weight: bold;
    color: black !important;
}

.form-group{
    margin-left: 10px;
}



label{
    font-weight: bold;
}
.form-control{
    background: transparent;
}
.btn{
    font-weight: bold;
    color: #00ffa1;
}
